{% load static %}
<footer class="main-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="logo">
              <h6 class="text-white">Sakib's Planet</h6>
            </div>
            <div class="contact-details">
              <p>206, Dania, Kabarstan Road, Dhaka-1236</p>
              <p>Phone: +8801915867303</p>
              <p>Email: <a href="sakibmahmood09@gmail.com">sakibmahmood09@gmail.com</a></p>
              <ul class="social-menu">
                <li class="list-inline-item"><a href="https://www.facebook.com/seaum.sakib.7"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="https://github.com/sakibmahmood98"><i class="fa fa-github"></i></a></li>
                <li class="list-inline-item"><a href="https://www.linkedin.com/in/sakib-seaum-357833168/"><i class="fa fa-linkedin"></i></a></li>

              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="menus d-flex">
              <ul class="list-unstyled">
                <li> <a href="#"></a></li>
                <li> <a href="#"></a></li>
                <li> <a href="#"></a></li>
                <li> <a href="#"></a></li>
              </ul>
              <ul class="list-unstyled">
                <li> <a href="#"></a></li>
                <li> <a href="#"></a></li>
                <li> <a href="#"></a></li>
                <li> <a href="#"></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="latest-posts"><a href="#">
                <div class="post d-flex align-items-center">

                  <div class="title"><strong></strong><span class="date last-meta"></span></div>
                </div></a><a href="#">
                <div class="post d-flex align-items-center">

                  <div class="title"><strong></strong><span class="date last-meta"></span></div>
                </div></a><a href="#">
                <div class="post d-flex align-items-center">

                  <div class="title"><strong></strong><span class="date last-meta"></span></div>
                </div></a></div>
          </div>
        </div>
      </div>
      <div class="copyrights">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <p>&copy; 2019. Created By Sakib Mahmood .</p>
            </div>
            <div class="col-md-6 text-right">
              <p> <a href="#" class="text-white"></a>

              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>